<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/csssd/bootstrap.min.css">
  <title>{{title}}</title>
</head>
<body>
  {{{body}}}
</body>
</html>
